include mixins
h1 Hello, I'm jade
h2= title

- var name ="<em>Andy</em>";
- var func = function(){return "function in jade! ";};
ul#nav
	li #{ name }
	li !{ name }
	li= func()
		a(href ="/other", rel ="nofollow") Go to other 

- var followerCount = 2; 
p
	if followerCount === 0
		|You hace no followers.
	else if followerCount ===1
		|You have one follower.
	else
		|You have #{followerCount} followers.

- var users =[{ name: "Jan", email:"jan@gmail.com"}, { name: "Pan", email:"pan@gmail.com"}, { name: "ZZZ", email:"zzz@gmail.com"} ];

ul
	each user, i  in users
		li #{i + 1}: #{ user.name} &lt;#{user.email}>



ul
	each user in users
		mixin userLi(user)

ul
	each userObject in users
		include user